.top-container {
  background-color: #EAF6F6;
}

.headline {
  margin: 50px 0 0 0;
  font-size: 3.625rem;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
}

.top-cloud {
  position: relative;
  top: 15px;
  left: 380px;
  margin-top: 60px;
}

hr{
  border: 0;
  border-top: 1px dotted #EAF6F6;
  border-width: 5px;
  width: 100px;
}

h1 {
  font-family: 'Courgette', cursive;
  color: #fc5185;
}

h2 {
  font-family: 'Roboto', cursive;
  font-size: 2.0rem;
  color: #fc5185;
}

h3 {
  color: #0f4c75;
}

body {
  margin: 0 0 0 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

p{
  color: #40514E;
}

.profile{
  background-color: #ffffff;
  transition: 0.5s;
  padding-bottom: 10px;
  margin-top: -5px;
}

.profile:hover{
  background-color: #183D5D;
  animation-duration: 2s;
}

.profile:hover .bio{
  color: #fff;
}

.skills{
  background-color: #ffffff;
  transition: 0.5s;
  padding-top: 10px;
  padding-bottom: 10px;
}

.skills:hover{
  background-color: #183D5D;
  animation-duration: 2s;
}

.skills:hover .des-1{
  color: #fff;
}

.skills:hover .ski-tit{
  color: #fc5185;
}

.contact-me{
  background-color: #ffffff;
  transition: 0.5s;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contact-me:hover{
  background-color: #183D5D;
  animation-duration: 2s;
}

.contact-me:hover .contact{
  color: #fff;
}


.avatar {
  margin-top: 100px;
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

.footer-link {
  position: relative;
  left: 50px;
}

.skill-row{
  width: 50%;
  margin: 150px auto;
  text-align: left;
  line-height: 2;
}

.web-development{
  width: 25%;
  margin-right: 30px;
  float: left;
}

.designing{
  width: 25%;
  margin-right: 30px;
  float: right;
}

.bio{
  color: #40514E;
  width: 500px;
  margin: 0 auto 100px;
}

.des-2{
  margin-bottom: 150px;
}

.contact{
  margin: 50px 0;
}

.btn{
  display: inline-block;
  margin-bottom: 50px;
}

.bottom-container{
  background-color:#183D5D;
  margin: 0;
}
.website{
  display: inline-block;
  padding-top: 20px;
  color: #fc5185;
}
.copyright{
    color: #EAF6F6;
    margin: 0;
    padding: 20px;
}

a{
  text-decoration: none;
}


/* new animations */

@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}